<p>
    Firstly, because a "synopsis" by definition implies a "brief" and "general" description of a work. Aside from the bare essentials, no further detail is demanded.
</p>
<p>
    Secondly, although I could write complete plot descriptions that account for every little detail in each film (which I <i>have</i> tried to do before now), it would be overloading all the normal readers (i.e., the ones that aren't nerds) with information that they couldn't appreciate without having already drunk deeply from the well of <i>kaiju</i>-dom.
</p>
<p>
    Thirdly, although spoiler alerts apply for all synopses, by omitting extraneous details I leave room for prospective viewers to enjoy the experience of watching a new film without a verbatim play-by-play to direct their expectations (and by omitting certain key plot details, they can be surprised by the film as well).
</p>